.distanceIdle {
    position: relative;
    width: 1439.999984741211px;
    height: 1023.9999389648438px;
    background: #ffffffff;
    overflow: hidden;
}

.group20 {
    position: absolute;
    right: -0.0000152587890625px;
    top: -0.00006103515625px;
    width: 1440px;
    height: 1024px;
}

.bottoms {
    position: absolute;
    left: 766.0000177675538px;
    top: 189px;
    width: 300px;
    height: 301.369873046875px;
}

.image4 {
    position: absolute;
    left: 88px;
    top: 512.000094432793px;
    width: 228.10006713867188px;
    height: 342.15008544921875px;
}

.rectangle97 {
    position: absolute;
    left: 452px;
    top: 467px;
    width: 215px;
    height: 215px;
}

.rectangle78 {
    position: absolute;
    width: 1440px;
    height: 1024px;
    backdrop-filter: blur(5px);
    background: #d9d9d91a;
}

.rectangle6 {
    position: absolute;
    left: 180.99996948242188px;
    top: 339.00006103515625px;
    width: 1075px;
    height: 203.82264709472656px;
    backdrop-filter: blur(32.874610900878906px);
    background: #2b2b2bff;
    border-radius: 158px;
}

.group19 {
    position: absolute;
    left: 180.99993896484375px;
    top: 81px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1058px;
}

.group11 {
    width: 170.94801330566406px;
    height: 170.94801330566406px;
    margin: 276px 0px 0px;
}

.autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pressRecordingToStar {
    width: 648px;
    font-family: "DM Serif Display";
    font-size: 32px;
    color: #000000d4;
    letter-spacing: 1.6px;
    text-align: center;
    vertical-align: top;
    font-weight: 400;
    margin: 0px 0px 0px 197px;
}

.autoWrapper_f779fe0d {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 799.8990783691406px;
    margin: 240px 0px 0px;
}

.positionYourselfInFr {
    width: 648px;
    font-family: "DM Serif Display";
    font-size: 32px;
    color: #ffffffff;
    letter-spacing: 1.6px;
    text-align: center;
    vertical-align: top;
    font-weight: 400;
}

.chevronsRight {
    width: 78.89907836914062px;
    height: 78.89907836914062px;
    overflow: hidden;
    margin: 2px 0px 0px;
}

.group26921 {
    position: absolute;
    left: 1279px;
    width: 161px;
    height: 161px;
}

.ellipse3 {
    position: absolute;
    width: 161px;
    height: 161px;
    background: #ea5e10f5;
    border-radius: 50%;
}

.a {
    position: absolute;
    left: 43.2314567565918px;
    top: 53.66651916503906px;
    min-width: 74px;
    font-family: "SF Pro Display";
    font-size: 51px;
    color: #ffffffff;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
}

.a_d7823cae {
    position: absolute;
    left: 1171px;
    top: 41px;
    width: 162px;
    height: 108px;
    font-family: "SF Pro Display";
    font-size: 100px;
    color: #000000ff;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
}

.__d2c__placeholder {
    font-size: 12px;
}